.imgTall{
    height: 700px;
    width: 100%;
    max-width: 500px;
    grid-column: span 1; 
    grid-row: span 2;
}
.imgWide{
    height: 345px;
    width: 100%;
    max-width: 500px;
    grid-column: span 1;
    grid-row: span 1;
}

.imgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 equal columns*/
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Space items evenly */
    column-gap: 5px;
    row-gap: 5px;
    margin: auto;
    max-width: 100%; /* Ensure the container doesn’t exceed the screen width */
    box-sizing: border-box; /* Prevent padding/margin from expanding beyond container */
    width: 100%; 
    max-width: 1200px; /* Maximum width for large screens */
}

#closeBtn{
    position: absolute;
    top: 5%; /* Adjust to position the button 20px from the top of the image */
    left: 5%; /* Adjust to position the button 20px from the left side of the image */
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1100; /* Ensure the close button appears on top of the image */
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px;
    border-radius: 100%; /* Makes the close button circular */
}
#expandedImageContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#expandedImage{
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;
}

@media (max-width: 768px){
    #imgContainer{
        grid-template-columns: 1fr; /*Stack images in one column on small screens*/
        cursor: pointer;
        transition: transform 0.2s ease;
    }
    /*On smaller screens, make images full width*/
    #imgContainer .imgTall, 
    #imgContainer .imgWide{
        width: 100%;
        height: auto; /* Maintain aspect ratio */
    }
}