.imgTall{
    height: 700px;
    width: 100%;
    max-width: 500px;
    grid-column: 1; 
    grid-row: span 2;
}
.imgWide{
    height: 345px;
    width: 100%;
    max-width: 500px;
    grid-column: span 1;
    grid-row: span 1;
}

#imgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /*2 equal columns*/
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-around; /* Space items evenly */
    column-gap: 5px;
    row-gap: 5px;
    margin: auto;
    max-width: 100%; /* Ensure the container doesn’t exceed the screen width */
    box-sizing: border-box; /* Prevent padding/margin from expanding beyond container */
    width: 100%; 
    max-width: 1200px; /* Maximum width for large screens */
    cursor: pointer;
    transition: transform 0.2s ease;
}

#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 1000; 
    justify-content: center;
    align-items: center;
}

#expandedImage {
    max-width: 90%;
    max-height: 90%;
    border: 5px solid white;
    border-radius: 10px;
}

#closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

#closeButton:hover {
    color: #ccc;
}

#jumpToDiv{
    border: 5px double #02285e;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-bottom: 10px;
}
a{
    list-style-type: none;
    text-decoration: none;
    color: #02285e;
    font-weight: bold;
    transition: color 0.5s;
}
a:hover{
    color: #023e86;
}
a:active{
    color: #6a98d1;
}

.category, p{
    text-align: center;
    grid-column: 1;
}
p{
    margin: 0;
}
@media (max-width: 1024px){
    #imgContainer{
        grid-template-columns: 1fr; /*Stack images in one column on small screens*/
    }
    #imgContainer .imgTall, 
    #imgContainer .imgWide{
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        margin: auto;
    }
}

@media (max-width: 768px){
    #imgContainer{
        grid-template-columns: 1fr; /*Stack images in one column on small screens*/
    }
    /*On smaller screens, make images full width*/
    #imgContainer .imgTall, 
    #imgContainer .imgWide{
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        margin: auto;
    }
}