.contactInfo, #banner, #hqAndArea_div{
    text-align: center;
    margin: auto;
}

#homePageImg{
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    opacity: 1;
    transition: opacity 2s ease-in-out;
    object-fit: cover; 
}

.fade{
    opacity: 1;
}
.fade-out{
    opacity: 0;
}

#bookNow{
    border: 5px double #02285e;
    text-align: center;
    margin: auto;
    width: 50%;
    border-radius: 10px;
    padding-bottom: 10px;
}