:root{
    --darkBlue: #021836;
    --button_hover: #023e86;
    --button_active: #6a98d1;
    --button_text: #fafaf2;
    --background_main: #faf0ad;
    --background_accent: #162601;
    --links: #030247;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-image: 
        radial-gradient(circle, 
                        var(--background_main) 70%, 
                        var(--background_accent) 100%); /*circular gradient with smoothly blended colors*/
    background-size: cover;
    background-position: center; /*background covers the entire screen and gradient is centered*/
    height: 100%; /*full viewport height*/
    background-repeat: no-repeat; /*no repeating background*/
    background-attachment: fixed;
}

.navbar_div{
    text-align: center;
    margin: auto;
    padding: 10px;
    border-bottom:5px double var(--darkBlue);
}

button{
    background-color: var(--darkBlue);
    color: var(--button_text);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto;
}
button:hover{
    background-color: var(--button_hover);
    transition: background-color 0.15s;
}
button:active{
    background-color: var(--button_active);
    transition: background-color 0.15s;
}
.buttonText{
    text-decoration: none;
    color: var(--button_text);
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: var(--darkBlue);
}

.footer_div{
    margin: 10px auto;
    padding: 0;
    border-top: 5px double var(--darkBlue); 
}
footer{
    text-align: center;
    margin: auto;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

img{
    border: 5px double var(--darkBlue);
    border-radius: 5px;
}