/*ENTIRE PAGE*/
:root{
    --darkBlue: #02285e;
    --button_hover: #023e86;
    --button_active: #6a98d1;
    --button_text: #fafaf2;
    --background_main: #f9d598;
    --background_accent: #553003;
    --links: #030247;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html{
    background-image: 
        radial-gradient(circle, 
                    rgb(249, 213, 152, 0.75) 70%, 
                    rgb(85, 48, 3, 0.9) 100%),
                        url('Images/filmGrain.jpg'); /*circular gradient overlayed onto image*/
    background-size: cover;
    background-position: center; /*background covers the entire screen and gradient is centered*/
    height: 100%; /*full viewport height*/
    background-repeat: no-repeat; /*no repeating background*/
    background-attachment: fixed;
    overflow: hidden;
}
body{
    padding-top: 70px;
    overflow: auto;
}

h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color: var(--darkBlue);
}

img{
    border: 5px double var(--darkBlue);
    border-radius: 5px;
}

/*NAVIGATION & BUTTONS*/
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    margin: auto;
    border-bottom:5px double var(--darkBlue);
    padding: 5px;
}
.navBtn{
    height: 100%;
    width: 24%;
    margin: 1px;
}

button{
    background-color: var(--darkBlue);
    color: var(--button_text);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto;
    text-decoration: none;
    color: var(--button_text);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 90%;
    opacity: 0.6;
}
button:hover{
    background-color: var(--button_hover);
    transition: background-color 0.15s ease;
}
button:active{
    background-color: var(--button_active);
    transition: background-color 0.15s ease;
}


/*FOOTER*/
.footer_div{
    margin: 10px auto;
    padding: 10px;
    border-top: 5px double var(--darkBlue); 
}
footer{
    display: block;
    text-align: center;
    margin: auto;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    color: var(--darkBlue);
}
footer a{
    text-decoration: none;
    color: var(--darkBlue);
}

/*MEDIA QUERIES*/
@media (max-width: 600px){
    .navbar{
        grid-template-columns: 1fr; /*Stack buttons in one column on small screens*/
    }
    .navBtn{
        width: 100%;
        height: auto; 
        margin: auto;
    }
    body{
        padding-top: 160px;
    }
    html, body{
        overflow: hidden;
    }
}